EXPO_PUBLIC_SUPABASE_URL=https://scavvltezuknxixjloeg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjYXZ2bHRlenVrbnhpeGpsb2VnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NjYyNDcsImV4cCI6MjA5MzI0MjI0N30.EpEwhYJkQsCea8HQoGLBVb9FJ0gAyso9O0Ecoa--wBA
